<!--Footer Wrap Start-->
<footer class="kf_footer_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="kf_foo_contact">
                    <div class="kf_footer_logo">
                        <a href="#"><img src="/images/logo5.png" alt=""></a>
                    </div>
                    <ul class="kf_foo_address">
                        <li>
                            <i class="fa fa-facebook"></i>
                            <span>666 71 888 & 211 222 333</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="#">info@nam.com</a>
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>P105 Ngõ 78 Duy Tân, Dịch Vọng, Cầu Giấy, Hà Nội</span>
                        </li>
                    </ul>                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="kf_foo_featured_listing widget">
                    <h6>Đăng ký nhận tin qua email</h6>

                    <form class="kf_foo_listing_des" method="post" id="kf_form_regmail">
                        <div class="form-group">
                            <input placeholder="Nhập email" name="emailFooter" class="form-control" id="kf_form_regmail_input" />
                            <p>* Chúng tôi không spam bạn, bạn có thể hủy bất cứ lúc nào.</p>
                            <button class="btn btn-primary" id="kf_form_regmail_button"><i class="fa fa-spinner fa-pulse" style="display: none;"></i> Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="kf_foo_latest_wrap widget">
                    <h6>Về chúng tôi</h6>
                    <ul>
                        <li>
                            <a href="#">Hướng dẫn sử dụng</a>
                        </li>
                        <li>
                            <a href="#">Chính sách bảo đảm phòng</a>
                        </li>
                        <li>
                            <a href="#">Tin tức</a>
                        </li>
                        <li>
                            <a href="#">Việc làm</a>
                        </li>
                        <li>
                            <a href="#">Chính sách bảo mật</a>
                        </li>
                        <li>
                            <a href="#">Quy định sử dụng</a>
                        </li>
                        <li>
                            <a href="#">Phản hồi</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="kf_foo_contact widget">
                    <h6 style="font-size: 16px;">Mọi thắc mắc xin vui lòng liên hệ</h6>
                    <ul>
                        <li><a href="#">Hà Nội  <span style="float: right;">(84) 456 789</span></a></li>
                        <li><a href="#">Hồ chí mình  <span style="float: right;">(84) 456 789</span></a></li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-skype"></i></a>
                            <p style="font-style: italic;">(!!)Giải đáp thắc mắc của bạn 24/7</p>
                        </li>
                    </ul>
                    <ul class="kf_foo_social_icon">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>
<!--Footer Widget Wrap End-->

<div class="kf_copy_right">
    <div class="container">
        <div class="kf_copyright_element">
            <ul>
                <li>&copy; 2016</li>
            </ul>
        </div>
    </div>
</div>

<script>


    // this is the id of the form
    $("#kf_form_regmail").submit(function (e) {
        if (document.getElementById("kf_form_regmail_input").value !== "") {
            var url = "/Home/RegisterEmail"; // the script where you handle the form input.
            var $ie = document.getElementById("kf_form_regmail_input").value;
            if (validateEmail($ie)) {

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {inputemail: $ie},
                    beforeSend: function () {
                        $('#kf_form_regmail_button').children('i').fadeIn();
                    },
                    success: function (data) {
                        if (data === 1) {
                            setTimeout(function () {
                                alert('Bạn đã đăng ký nhận thông báo qua thành công.');
                                $('#kf_form_regmail_button').prop('disabled', true);
                            }, 2000);
                        } else if (data === 2) {
                            setTimeout(function () {
                                alert('Email của bạn đã đăng ký nhận thông báo.');
                            }, 2000);
                        }
                    },
                    complete: function () {
                        setTimeout(function () {
                            $('#kf_form_regmail_button').children('i').fadeOut();
                        }, 1000);
                    }
                });

            } else {
                alert('Địa chỉ email không đúng định dạng.');
                return false;
            }

        } else {
            alert('Vui lòng nhập địa chỉ email');
            return false;
        };

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });

</script>