<!--Footer Wrap Start-->
<footer class="kf_footer_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="kf_foo_contact">
                    <div class="kf_footer_logo">
                        <a href="#"><img src="images/logo4.png" alt=""></a>
                    </div>
                    <ul class="kf_foo_address">
                        <li>
                            <i class="fa fa-facebook"></i>
                            <span>666 71 888 & 211 222 333</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a href="#">info@nam.com</a>
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>P105 Ngõ 78 Duy Tân, Dịch Vọng, Cầu Giấy, Hà Nội</span>
                        </li>
                    </ul>
                    <ul class="kf_foo_social_icon">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="kf_foo_featured_listing widget">
                    <h6>Đăng ký nhận tin qua email</h6>

                    <form class="kf_foo_listing_des" method="post">
                        <div class="form-group">
                            <input placeholder="Nhập email" name="emailFooter" class="form-control" id="emailFooter" />
                            <p>* Chúng tôi không spam bạn, bạn có thể hủy bất cứ lúc nào.</p>
                            <button class="btn btn-primary">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="kf_foo_latest_wrap widget">
                    <h6>Về chúng tôi</h6>
                    <ul>
                        <li>
                            <a href="#">Hướng dẫn sử dụng</a>
                        </li>
                        <li>
                            <a href="#">Chính sách bảo đảm phòng</a>
                        </li>
                        <li>
                            <a href="#">Tin tức</a>
                        </li>
                        <li>
                            <a href="#">Việc làm</a>
                        </li>
                        <li>
                            <a href="#">Chính sách bảo mật</a>
                        </li>
                        <li>
                            <a href="#">Quy định sử dụng</a>
                        </li>
                        <li>
                            <a href="#">Phản hồi</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="kf_foo_contact widget">
                    <h6 style="font-size: 16px;">Mọi thắc mắc xin vui lòng liên hệ</h6>
                    <ul>
                        <li><a href="#">Hà Nội  <span style="float: right;">(84) 456 789</span></a></li>
                        <li><a href="#">Hồ chí mình  <span style="float: right;">(84) 456 789</span></a></li>
                        <li>
                            <a href="#"><i class="fa fa-2x fa-yahoo"></i></a>
                            <a href="#"><i class="fa fa-2x fa-skype"></i></a>
                            <p style="font-style: italic;">(!!)Giải đáp thắc mắc của bạn 24/7</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>
<!--Footer Widget Wrap End-->