<div id="kode-responsive-navigation" class="dl-menuwrapper">
    <button class="dl-trigger">Open Menu</button>
    <ul class="dl-menu">
        <li class="menu-item kode-parent-menu">
            <a href="index-3.html">Home</a>
            <ul class="dl-submenu">
                <li><a href="index.html">Home Style 1</a></li>
                <li><a href="index-2.html">Home Style 2</a></li>
                <li><a href="index-3.html">Home Style 3</a></li>
                <li><a href="index-4.html">Home Style 4</a></li>
            </ul>
        </li>
        <li><a href="about-us.html">About Us</a></li>
        <li class="menu-item kode-parent-menu">
            <a href="#">Blog</a>
            <ul class="dl-submenu">
                <li><a href="blog-grid.html">Blog Grid Style</a></li>
                <li><a href="blog-lisiting.html">Blog Listing Style 1</a></li>
                <li><a href="blog-lisiting-2.html">Blog Listing Style 2</a></li>
                <li><a href="blog-detail.html">Blog Detail Style 1</a></li>
                <li><a href="blog-detail-2.html">Blog Detail Style 2</a></li>
            </ul>
        </li>
        <li class="menu-item kode-parent-menu">
            <a href="#">Properties</a>
            <ul class="dl-submenu">
                <li><a href="property-listing.html">Property Grid Style</a></li>
                <li><a href="property-listing-01.html">Property Listing Style 1</a></li>
                <li><a href="property-listing-02.html">Property Listing Style 2</a></li>
                <li><a href="property-listing-03.html">Property Detail Style 3</a></li>
                <li><a href="property-listing-04.html">Property Detail Style 4</a></li>
                <li><a href="property-detail.html">Property Detail</a></li>
            </ul>
        </li>
        <li class="menu-item kode-parent-menu">
            <a href="#">Team</a>
            <ul class="dl-submenu">
                <li><a href="our-team.html">Our Team</a></li>
                <li><a href="team-detail.html">Team Detail</a></li>
            </ul>
        </li>
        <li class="menu-item kode-parent-menu">
            <a href="#">Pages</a>
            <ul class="dl-submenu">
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="submit-property.html">Submit Property</a></li>
                <li><a href="Price-table.html">Price Table</a></li>
                <li><a href="404-page.html">404 Page</a></li>
                <li><a href="comming-soon.html">Comming Soon</a></li>
                <li><a href="Login.html">Login</a></li>
                <li><a href="Register.html">Register</a></li>
                <li><a href="password-reset.html">Password Reset</a></li>
                <li><a href="shortcode.html">Short Code</a></li>
            </ul>
        </li>
        <li><a href="contact-us.html">Contact Us</a></li>
    </ul>
</div>
