@model WebOfficeRental.Models.LstMenu
<select class="form-control width-200" id="menu_parent">
    <option value="">--Chọn menu cha--</option>
    <option value="1">--Menu cha--</option>
    @Html.Partial("_childmenuPartial", @Model)
</select>