<!--Number Counter Wrap Start-->
<section class="kf_num_counter_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="kf_num_count_wrap">
                    <i class="fa fa-flag-o"></i>
                    <h2 class="counter">2180</h2>
                    <a href="#">Khách hàng</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="kf_num_count_wrap">
                    <i class="fa fa-building-o"></i>
                    <h2 class="counter">3300</h2>
                    <a href="#">Tòa nhà</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="kf_num_count_wrap">
                    <i class="fa fa-home"></i>
                    <h2 class="counter">2200</h2>
                    <a href="#">Văn phòng</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="kf_num_count_wrap">
                    <i class="fa fa-user"></i>
                    <h2 class="counter">5000</h2>
                    <a href="#">Professional Agent</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Number Counter Wrap End-->