<section class="kf_why_choose_we">
    <div class="kt_why_choose_we_overlay">
        <div class="container">
            <h3 class="lead text-center">Tại sao chọn chúng tôi</h3>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="kf_why_choose_we_wrap">
                        <i class="fa fa-lock"></i><br />
                        <a href="#">Tin tưởng và an toàn</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="kf_why_choose_we_wrap">
                        <i class="fa fa-send fa-flip-horizontal"></i><br />
                        <a href="#">Điểm đến hấp dẫn</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="kf_why_choose_we_wrap">
                        <i class="fa fa-star"></i><br />
                        <a href="#">Dịch vụ tốt nhất</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Number Counter Wrap End-->