<section class="kf_register_email" style="background-color: #4189BB;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="kf_heading_3">
                    <h3>Nhập email hoặc số điện thoại</h3>
                    <p class="lead">Để được tư vấn và nhận thông tin công việc miễn phí từ OfficeRental</p>
                </div>
                
                <input type="text" name="emaildangky" id="emaildangky" class="form-control" placeholder="Nhập địa chỉ Email hoặc số điện thoại" style="width: 600px; font-size: 19px;">
                <button class="btn btn-primary" style="height: 44px;">Gửi thông tin</button>
            </div>
        </div>
    </div>
</section>

<section class="kf_hotline_bg" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top_navi_kode" style="float: right;">
                    <h3>HOTLINE: 0123456789</h3>
                </div>
            </div>
        </div>
    </div>
</section>