<section class="kf_office_type_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default kf_office_type_panel">
                    <a class="pull-right" href="#">Xem tất cả >></a>
                    <div class="panel-heading">
                        <h3 class="panel-title">Văn phòng cho thuê</h3>
                    </div>
                    <div class="panel-body">
                        
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                
                <div class="panel panel-default kf_office_type_panel">
                    <a class="pull-right" href="#">Xem tất cả >></a>
                    <div class="panel-heading">
                        <h3 class="panel-title">Văn phòng trọn gói</h3>
                    </div>
                    <div class="panel-body">
                        â
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>