<section class="kf_register_email" style="background-color: #4189BB;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="kf_heading_3">
                    <h3>Nhập email hoặc số điện thoại</h3>
                    <p class="lead">Để được tư vấn và nhận thông tin công việc miễn phí từ OfficeRental</p>
                </div>

                <form class="form-inline" id="form_sendmail" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputemail" name="inputemail" placeholder="Nhập địa chỉ Email hoặc số điện thoại">
                        <div class="input-group-addon"><button id="btnsendmail1"><i class="fa fa-spinner fa-pulse" style="display: none;"></i> Gửi thông tin</button></div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>

<section class="kf_hotline_bg" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top_navi_kode" style="float: right;">
                    <h3>HOTLINE: 0123456789</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    

    // this is the id of the form
    $("#form_sendmail").submit(function (e) {
        if (document.getElementById("inputemail").value !== "") {
            var url = "/Home/RegisterEmail"; // the script where you handle the form input.
            var $ie = document.getElementById("inputemail").value;
            if (validateEmail($ie)) {
                
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {inputemail: $ie},
                    beforeSend: function () {
                        $('#btnsendmail1').children('i').fadeIn();
                    },
                    success: function (data) {
                        if (data === 1) {                           
                            setTimeout(function () {
                                alert('Bạn đã đăng ký nhận thông báo qua thành công.');
                                $('#btnsendmail1').prop('disabled', true);
                            }, 2000);                            
                        } else if (data === 2) {
                            setTimeout(function () {
                                alert('Email của bạn đã đăng ký nhận thông báo.');
                            }, 2000);                            
                        }
                    },
                    complete: function () {
                        setTimeout(function () {
                            $('#btnsendmail1').children('i').fadeOut();
                        }, 1000);
                    }
                });

            } else {
                alert('Địa chỉ email không đúng định dạng.');
                return false;
            }
           
        } else {
            alert('Vui lòng nhập địa chỉ email');
            return false;
        };       

        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
   
</script>