<!--Advance Search Wrap Start-->
<div class="kf_advance_search_bg">
    <div class="container">
        <!--Tab Link Wrap Start-->
        <div class="kf_search_tab_wrap">
            <ul data-tabs="tabs">
                <li class="active"><a data-toggle="tab" href="#listing">All Listing</a></li>
                <li><a data-toggle="tab" href="#rent">For Rent</a></li>
                <li><a data-toggle="tab" href="#sale">For Sale</a></li>
                <li><a data-toggle="tab" href="#auction">Auctions</a></li>
            </ul>
        </div>
        <!--Tab Link Wrap End-->
        <!--Search Form Wrap Start-->
        <div class="tab-content">
            <div class="tab-pane active" id="listing">
                <div class="kf_advacnce_search_form">
                    <form>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Keyword</label>
                                    <input type="text" name="property_id">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Property ID</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Location</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Miami</option>
                                        <option>-Little Havana</option>
                                        <option>-Perrine</option>
                                        <option>-Doral</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Property Status</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>For Rent</option>
                                        <option>For Rent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Property Type</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Commercial</option>
                                        <option>-Office</option>
                                        <option>-Shop</option>
                                        <option>-Residential</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Min Beds</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field kf_range_slider">
                                    <label>Price Range</label>
                                    <input type="text" class="amount" readonly>
                                    <div class="kf_range_slider">
                                        <span>Min</span>
                                        <div class="slider-range"></div>
                                        <span>Max</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <input type="submit" value="Search Property">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane" id="rent">
                <div class="kf_advacnce_search_form">
                    <form>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Keyword</label>
                                    <input type="text" name="property_id">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Property ID</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Location</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Miami</option>
                                        <option>-Little Havana</option>
                                        <option>-Perrine</option>
                                        <option>-Doral</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Property Status</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>For Rent</option>
                                        <option>For Rent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Min Beds</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Commercial</option>
                                        <option>-Office</option>
                                        <option>-Shop</option>
                                        <option>-Residential</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Min Baths</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field kf_range_slider">
                                    <label>Price Range</label>
                                    <input type="text" class="amount" readonly>
                                    <div class="kf_range_slider">
                                        <span>Min</span>
                                        <div class="slider-range"></div>
                                        <span>Max</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <input type="submit" value="Search Property">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane" id="sale">
                <div class="kf_advacnce_search_form">
                    <form>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Keyword</label>
                                    <input type="text" name="property_id">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Property ID</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Location</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Miami</option>
                                        <option>-Little Havana</option>
                                        <option>-Perrine</option>
                                        <option>-Doral</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Property Status</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>For Rent</option>
                                        <option>For Rent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Min Beds</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Commercial</option>
                                        <option>-Office</option>
                                        <option>-Shop</option>
                                        <option>-Residential</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Min Beds</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field kf_range_slider">
                                    <label>Price Range</label>
                                    <input type="text" class="amount" readonly>
                                    <div class="kf_range_slider">
                                        <span>Min</span>
                                        <div class="slider-range"></div>
                                        <span>Max</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <input type="submit" value="Search Property">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="tab-pane" id="auction">
                <div class="kf_advacnce_search_form">
                    <form>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Keyword</label>
                                    <input type="text" name="property_id">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Property ID</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Location</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Miami</option>
                                        <option>-Little Havana</option>
                                        <option>-Perrine</option>
                                        <option>-Doral</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Property Status</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>For Rent</option>
                                        <option>For Rent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Property Type</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>Commercial</option>
                                        <option>-Office</option>
                                        <option>-Shop</option>
                                        <option>-Residential</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <label>Min Beds</label>
                                    <select class="chosen-select">
                                        <option>Any</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field kf_range_slider">
                                    <label>Price Range</label>
                                    <input type="text" class="amount" readonly>
                                    <div class="kf_range_slider">
                                        <span>Min</span>
                                        <div class="slider-range"></div>
                                        <span>Max</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="kf_search_field">
                                    <input type="submit" value="Search Property">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Search Form Wrap End-->
    </div>
</div>
<!--Advance Search Wrap Start-->