USE [thuexevn]
GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 11/7/2016 3:40:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[id] [int] NOT NULL,
	[quanhuyen] [nvarchar](255) NULL,
	[tinhthanhpho] [nvarchar](255) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[TinhThanh] ([id], [quanhuyen], [tinhthanhpho]) VALUES (1, N'A Lưới', N'Thừa Thiên-Huế')
INSERT [dbo].[TinhThanh] ([id], [quanhuyen], [tinhthanhpho]) VALUES (2, N'An Biên', N'Kiên Giang')
INSERT [dbo].[TinhThanh] ([id], [quanhuyen], [tinhthanhpho]) VALUES (3, N'An Dương', N'Hải Phòng')
GO
